.contacts__info
    h4="Контакты"
    a(href="skype:d10sh3s").contacts__link
        svg.contacts__svg
            use(xlink:href='assets/img/sprite.svg#skype')
        span.contacts__text="d10sh3s"
    a(href="mailto:andrey.shemyakov@gmail.com?subject=Сообщение с сайта ashemyakov.tmweb.ru").contacts__link
        svg.contacts__svg
            use(xlink:href='assets/img/sprite.svg#envelope')
        span.contacts__text="andrey.shemyakov@gmail.com"
    a(href="tel:+79108171613").contacts__link
        svg.contacts__svg
            use(xlink:href='assets/img/sprite.svg#phone')
        span.contacts__text="+7 910 817 16 13"
    a(href="https://www.google.ru/maps/place/Ярославль,+Ярославская+обл./@57.6523811,39.724437,11z/").contacts__link
        svg.contacts__svg
            use(xlink:href='assets/img/sprite.svg#map_marker')
        span.contacts__text="Ярославль"
