.works_slider
    .works_slider__information
        ul.works_info
            li.works_info__item.works_info__item__active
                h4="Сайт школы онлайн Образования"
                ul.tech
                    li.tech__item="HTML,"
                    li.tech__item="CSS,"
                    li.tech__item="Javascript,"
                    li.tech__item="Wordpress"
                a(href="http://www.loftschool.ru/" target="_blank").works_info__link="Посмотреть сайт"

            li.works_info__item
                h4="Сайт школы онлайн Образования"
                ul.tech
                    li.tech__item="HTML,"
                    li.tech__item="CSS,"
                    li.tech__item="Javascript,"
                    li.tech__item="Wordpress"
                a(href="http://www.loftschool.ru/" target="_blank").works_info__link="Посмотреть сайт"

            li.works_info__item
                h4="Сайт школы онлайн Образования"
                ul.tech
                    li.tech__item="HTML,"
                    li.tech__item="CSS,"
                    li.tech__item="Javascript,"
                    li.tech__item="Wordpress"
                a(href="http://www.loftschool.ru/" target="_blank").works_info__link="Посмотреть сайт"

            li.works_info__item
                h4="Сайт школы онлайн Образования"
                ul.tech
                    li.tech__item="HTML,"
                    li.tech__item="CSS,"
                    li.tech__item="Javascript,"
                    li.tech__item="Wordpress"
                a(href="http://www.loftschool.ru/" target="_blank").works_info__link="Посмотреть сайт"

    .works_slider__previews

        ul.works__previews
            li.previews__item.previews__item__active
                img(src="./assets/img/content/work-1.png" alt="Loftschool").previews__image
            li.previews__item
                img(src="./assets/img/content/work-2.png" alt="Loftschool").previews__image
            li.previews__item
                img(src="./assets/img/content/work-3.png" alt="Loftschool").previews__image
            li.previews__item
                img(src="./assets/img/content/work-4.png" alt="Loftschool").previews__image

        .control
            .control__down
                a(href="/").control__link.slider__control.prev
                    svg.control__svg__down
                        use(xlink:href='assets/img/sprite.svg#portf_arrow_down')

                ul.works__previews__mini
                    li.previews__item__mini
                        img(src="./assets/img/content/work-1.png" alt="Loftschool").previews__image__mini
                    li.previews__item__mini
                        img(src="./assets/img/content/work-2.png" alt="Loftschool").previews__image__mini
                    li.previews__item__mini
                        img(src="./assets/img/content/work-3.png" alt="Loftschool").previews__image__mini
                    li.previews__item__mini
                        img(src="./assets/img/content/work-4.png" alt="Loftschool").previews__image__mini

            .control__up
                a(href="/").control__link.slider__control.next
                    svg.control__svg__up
                        use(xlink:href='assets/img/sprite.svg#portf_arrow_down')

                ul.works__previews__mini
                    li.previews__item__mini
                        img(src="./assets/img/content/work-1.png" alt="Loftschool").previews__image__mini
                    li.previews__item__mini
                        img(src="./assets/img/content/work-2.png" alt="Loftschool").previews__image__mini
                    li.previews__item__mini
                        img(src="./assets/img/content/work-3.png" alt="Loftschool").previews__image__mini
                    li.previews__item__mini
                        img(src="./assets/img/content/work-4.png" alt="Loftschool").previews__image__mini

