extends ../layouts/layout

block variables
    - var title = 'Портфолио Андрея Шемякова. Примеры выполненных работ'

block content
    include ../partials/header
    .works
        .works__triangle
            svg(version='1.1', width='100%', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', viewbox='0 0 50 50', preserveaspectratio='none').works__triangle__left
                polygon(points='0,0 0,130 100,100')
            svg(version='1.1', width='100%',  xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', viewbox='0 0 50 50', preserveaspectratio='none').works__triangle__right
                polygon(points='100,100 0,50 50,0')

        .works__header
            svg.works__header__svg
                use(xlink:href='assets/img/sprite.svg#works_header').works__header__use
            h1.works__header__title="Мои работы"
        .worksSlider
            .worksSlider__information
                ul.worksInfo
                    li.worksInfo__item.worksInfo__item__active
                        h4="Сайт школы онлайн Образования"
                        ul.tech
                            li.tech__item="HTML,"
                            li.tech__item="CSS,"
                            li.tech__item="Javascript,"
                            li.tech__item="Wordpress"
                        a(href="http://www.loftschool.ru/" target="_blank").worksInfo__link="Посмотреть сайт"

                    li.worksInfo__item
                        h4="Сайт школы онлайн Образования"
                        ul.tech
                            li.tech__item="HTML,"
                            li.tech__item="CSS,"
                            li.tech__item="Javascript,"
                            li.tech__item="Wordpress"
                        a(href="http://www.loftschool.ru/" target="_blank").worksInfo__link="Посмотреть сайт"

                    li.worksInfo__item
                        hh4="Сайт школы онлайн Образования"
                        ul.tech
                            li.tech__item="HTML,"
                            li.tech__item="CSS,"
                            li.tech__item="Javascript,"
                            li.tech__item="Wordpress"
                        a(href="http://www.loftschool.ru/" target="_blank").worksInfo__link="Посмотреть сайт"

                    li.worksInfo__item
                        h4="Сайт школы онлайн Образования"
                        ul.tech
                            li.tech__item="HTML,"
                            li.tech__item="CSS,"
                            li.tech__item="Javascript,"
                            li.tech__item="Wordpress"
                        a(href="http://www.loftschool.ru/" target="_blank").worksInfo__link="Посмотреть сайт"

            .worksSlider__previews

                ul.Works__previews
                    li.previews__item.previews__item__active
                        img(src="./assets/img/content/work-1.png" alt="Loftschool").previews__image
                    li.previews__item
                        img(src="./assets/img/content/work-2.png" alt="Loftschool").previews__image
                    li.previews__item
                        img(src="./assets/img/content/work-3.png" alt="Loftschool").previews__image
                    li.previews__item
                        img(src="./assets/img/content/work-4.png" alt="Loftschool").previews__image

                .control
                    .control__down
                        a(href="/").control__link.slider__control.prev
                            svg.control__svg__down
                                use(xlink:href='assets/img/sprite.svg#portf_arrow_down')

                        ul.Works__previews__mini
                            li.previews__item__mini
                                img(src="./assets/img/content/work-1.png" alt="Loftschool").previews__image__mini
                            li.previews__item__mini
                                img(src="./assets/img/content/work-2.png" alt="Loftschool").previews__image__mini
                            li.previews__item__mini
                                img(src="./assets/img/content/work-3.png" alt="Loftschool").previews__image__mini
                            li.previews__item__mini
                                img(src="./assets/img/content/work-4.png" alt="Loftschool").previews__image__mini

                    .control__up
                        a(href="/").control__link.slider__control.next
                            svg.control__svg__up
                                use(xlink:href='assets/img/sprite.svg#portf_arrow_down')

                        ul.Works__previews__mini
                            li.previews__item__mini
                                img(src="./assets/img/content/work-1.png" alt="Loftschool").previews__image__mini
                            li.previews__item__mini
                                img(src="./assets/img/content/work-2.png" alt="Loftschool").previews__image__mini
                            li.previews__item__mini
                                img(src="./assets/img/content/work-3.png" alt="Loftschool").previews__image__mini
                            li.previews__item__mini
                                img(src="./assets/img/content/work-4.png" alt="Loftschool").previews__image__mini

    include ../components/reviews
    include ../components/navigation
